/* CSS FOR FAVORITES pages */

/* FAVORITES */

.favorites-container {
  width: 90%;
  margin: auto;
}

/* .favorites-card {
  width: 25%;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: red;
} */

.favorites-card h5 {
  margin-bottom: 5px;
}

.favorites-card p {
  margin-bottom: 5px;
}

.favorites-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  aspect-ratio: 1/1;
  align-items: baseline;
}

.favorites-card {
  border: 1px solid rgb(112, 111, 111);
  scale: 80%;
  border-radius: 20px;
  list-style-type: none;
  text-align: center;
  /* box-shadow: 1px 1px 10px 1px rgba(41, 41, 41, 0.208); */
  height: 100%;
}

.favorites-text {
  padding: 10px;
}

.favorites-image {
  width: 420px;
  height: 300px;
  padding: 20px;
  border-radius: 30px;
}

/* html,
body {
  height: 100%;
  overflow-y: scroll;
} */
